@font-face {
	font-family: 'Circular Std';
	src: url('../../assets/fonts/circular-std.woff') format('woff');
}

ion-slides {
	height: 80vh;
}

.hidden-selector {
	display: none;
}

.logo {
	position: fixed;
	top: 50px;
	background: url('../../assets/imgs/logo.svg');
	height: 32px;
	width: 24px;
	align-self: center;
}

::ng-deep {
	ion-slide {
		> div {
			max-width: 100vw;
			position: relative;
			left: -563px;
		}
	}

	.swiper-pagination.swiper-pagination-bullets {
		position: fixed !important;
		bottom: 80px;
		left: 35vw;
		width: 110px;
	}

	.swiper-pagination-bullet {
		height: 12px;
		width: 12px;
		margin: 4px 8px;
		background-color: #d8d8d8;
		&.swiper-pagination-bullet-active {
			background-color: #000;
		}
	}

	.next {
		position: fixed;
		bottom: 78px;
		left: 80vw;
		background: transparent;
	}

	.next,
	.prev {
		color: #000000;
		font-family: "Circular Std";
		font-size: 16px;
		font-weight: 900;
		line-height: 20px;
		text-align: center;
	}

	.weekday-selector {
		width: 80vw;
		padding-bottom: 5px;
		span {
			border-radius: 50%;
			font-size: 15px;
			width: 28px;
			height: 28px;
			line-height: 28px;
			display: inline-block;
			background: #bebebe;
			text-align: center;
			margin: 0 7px;
			&.selected {
				color: #fff;
				background: #007aff;
			}
		}
	}
}

.ionRangeHour {
	> ion-label {
		position: relative;
		&.arriving {
			right: -70px;
		}
		&.departure {
			left: -70px;
		}
	}
}

.wizard {
	display: flex;
	flex-direction: column;
	color: #000;
	font-family: "Circular Std";
	width: 100vw;
}

.oval {
	box-sizing: border-box;
	height: 251px;
	width: 251px;
	border: 1px solid #979797;
	border-radius: 50%;
	margin: 50px auto 0;
	background-size: 100%;

	&.car {
		background: url('../../assets/imgs/tesla.png');
		background-size: 100%;
		&.zoe {
			// background: url('../../assets/imgs/zoe.png');
		}
	}

	&.route {
		background: url('../../assets/imgs/route.png');
		background-size: 100%;
	}

	&.driving-profile {
		background-color: #000;
		background-size: 100%;
		background-image: url('../../assets/imgs/driving-profile.png');
	}
}

i {
	&.leaf {
		background: url('../../assets/imgs/leaves-icon.svg');
	}
}

h1 {
	font-size: 40px;
	font-weight: 900;
	line-height: 40px;
	text-align: center;
	padding: 0 50px;
}

.action-link {
	height: 20px;
	width: 112px;
	font-size: 16px;
	font-weight: 900;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	text-decoration: underline;
}

.nav {
	position: absolute;
	bottom: 150px;
	display: flex;
	align-self: center;
}

.hidden {
	display: none;
}

.wizard-completed {
	img {
		position: absolute;
		display: inline;
		animation-duration: 300ms;

		&.car {
			bottom: 420px;
			width: 341px;
			left: 18px;

			&.closed {
        animation:car 420ms ease-out 1 forwards;
			}
		}

		&.card {
			bottom: 0px;
			&.closed {
        animation:card 600ms ease-out 1 forwards;
			}
    }

    &.map {
      bottom: -595px;
      &.show {
        animation:map 450ms ease-out 1 forwards;
      }
    }
	}
}

@keyframes car {
	from {
    bottom: 420px;
	}
	to {
		bottom: -275px;
	}
}
@keyframes card {
	from {
    bottom: 0px;
	}
	to {
		bottom: -295px;
	}
}
@keyframes map {
	from {
    bottom: -595px;
	}
	to {
		bottom: 105px;
	}
}
