@font-face {
  font-family: 'Circular Std';
  src: url('../../assets/fonts/circular-std.woff') format('woff');
}

ion-slides {
  height: calc(80vh - 50px);

  &.hide {
    display: none;
  }
}

.hidden-selector,
.hidden {
  display: none;
}


.logo {
  padding-top: 50px;

  img {
    height: 32px;
    width: 24px;
  }

  text-align: center;
  width: 100%;
}

::ng-deep {

  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    margin: 4px 8px;
    background-color: #d8d8d8;

    &.swiper-pagination-bullet-active {
      background-color: #000;
    }
  }
}

.next {
  position: fixed;
  bottom: 78px;
  left: 80vw;
  background: transparent;
}

.next,
.prev {
  color: #000000;
  font-family: "Circular Std";
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
}


.weekday-selector {
  width: 80vw;
  padding-bottom: 5px;

  span {
    border-radius: 50%;
    font-size: 15px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    background: #bebebe;
    text-align: center;
    margin: 0 7px;

    &.selected {
      color: #fff;
      background: #007aff;
    }
  }
}


.ionRangeHour {
	> ion-label {
		position: relative;
		&.arriving {
			right: -70px;
		}
		&.departure {
			left: -70px;
		}
	}
}

.wizard {
	color: #000;
	font-family: "Circular Std";
}

.oval {
	box-sizing: border-box;
	height: 251px;
	width: 251px;
	border: 1px solid #979797;
	border-radius: 50%;
	margin: 50px auto 0;
	background-size: 100%;

	&.car {
		background: url('../../assets/imgs/tesla.png');
		background-size: 100%;
		&.ZOE {
			background: url('../../assets/imgs/zoe.png');
      background-size: 100%;
		}
	}

	&.route {
		background: url('../../assets/imgs/route.png');
		background-size: 100%;
	}

	&.driving-profile {
		background-color: #000;
		background-size: 100%;
		background-image: url('../../assets/imgs/driving-profile.png');
	}
}

i {
	&.leaf {
		background: url('../../assets/imgs/leaves-icon.svg');
	}
}


.action-link {
	height: 20px;
	width: 112px;
	font-size: 16px;
	font-weight: 900;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	text-decoration: underline;
}

ion-item {
  margin-bottom: 25px;
}

.wizard-completed {
  opacity: 0;
  animation: fade-in 300ms ease-in 1 forwards;
	img {
		position: absolute;
		display: inline;
		animation-duration: 300ms;

		&.car {
      top: 120px;
			width: 341px;

			&.closed {
        animation:car 420ms ease-out 1 forwards;
			}
		}

		&.card {
      bottom: 0;
			&.closed {
        animation:card 600ms ease-out 1 forwards;
			}
    }

    &.map {
      top: 100vh;
      &.show {
        animation:map 450ms ease-out 1 forwards;
      }
    }
	}
}

@keyframes car {
	from {
    top: 120px;
	}
	to {
    top: 100vh;
	}
}
@keyframes card {
	from {
    bottom: 0;
	}
	to {
    bottom: -295/812 * 100%;
  }
}
@keyframes map {
	from {
    top: 100vh;
	}
	to {
    top: 0;
	}
}
@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1}
}
